$dark: #212121;
$darkBlue: #33315F;
$violet: #A73E79;
$orange: #D35936;

.text-violet{
    color: $violet !important;
}

.text-darkBlue{
    color: $darkBlue;
}

.text-orange{
    color: $orange !important;
}

.bg-dark{
    background: $dark !important;
}

.bg-img{
    background-size: 150px 150px !important;
    background-position: center !important;
}

.bg-gradient{
    // background: linear-gradient(to right, #EA3354, #E837A5);
    // background: linear-gradient(to right, #B13FF5, #83C3F9);
    // transition: all 2s ease-in-out;
    background: url("../assets/background.png") no-repeat;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.animate-monospace { 
    border-right: .1em solid black;
    width: 16.5em; 
    width: 26ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(21, end),
               blink-caret .5s step-end infinite alternate;
}

$imgs: 'build', 'code', 'email';

@each $img in $imgs {
    .bg-img-#{$img}{
        background: url("../assets/#{$img}.png") no-repeat;
        @extend .bg-img;
    }
    @media screen and (max-width: 960px) {
        .bg-img-#{$img}{
            background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url("../assets/#{$img}.png") no-repeat;
        }
    }
}

@media screen and (max-width: 940px){
    .fill-svg{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

.t-slant{
    background: red;
    transform: perspective(320px) rotateY(13deg);
    width: 120%;
}

.g-box-shadow{
    box-shadow: 0 6px 20px rgba(0,0,0,.15);
}

input{
    border: none;
    background: rgba(255,255,255,.2);
    border-radius: 4px 0 0 4px;
    font-size: 13px;
    box-shadow: none;
    font-weight: 500;
    height: 100%;
    outline: 0;
    flex-grow: 1;
}

input[type="submit"]{
    @extend input;
    border-radius: 0 4px 4px 0;
    height: 48px;
}

ngb-carousel.w-100.carousel.slide{
    outline: none;
}

li[id*="ngb-slide-"]{
    background: $violet;
}

li[id*="ngb-slide-"].active{
    background: $dark;
}

.box{
    text-align: center;
    width: 100%;
}

.img-150{
    width: 150px;
    height: 150px;
}

a.carousel-control-prev, a.carousel-control-next{
    // filter: invert(50%) grayscale(100%);
    // background: linear-gradient(to right, #BA6CB1, #9956E8);
    background: $dark;
    opacity: 1;
    // background: $dark;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: calc(496px / 2 - 50px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
}

.min-h-350{
    min-height: 350px;
}

.modal-header{
    border-bottom: 0px solid $dark;
}

.modal-footer{
    border-top: 0px solid $dark;
}

.modal-content{
    border-radius: 16px;
}

.lh-3{
    line-height: 3rem;
}

@for $i from 0 to 100 {
    .font-#{$i}{
        font-size: $i + 0px;
    }
}