<div class="container-fluid px-0">
	
	<div class="d-flex align-items-center h60vh bg-gradient row">
		<div class="mx-auto">
			<h1 class="text-capitalize font-weight-bold">Hi,</h1>
			<h1 class="text-capitalize font-weight-bold">I'm <span class="text-primary">Sravan Nerella</span></h1>
			<p class="lead text-monospace animate-monospace">Full Stack Web Developer.</p>
			<p class="lead text-monospace text-muted">Front End Designer / Angular / Ionic</p>
		</div>
		<lottie-animation-view [options]="lottieConfig" class="fill-svg" (animCreated)="handleAnimation($event)"></lottie-animation-view>
	</div>


	<div class="row my-auto bg-img-build">
		<div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
			<h2 class="text-center mx-auto text-monospace"><span class="text-violet">let</span> me = <span class="text-violet">this</span>.<span class="text-info">guy</span></h2>
		</div>
		<div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
			<p class="lead text-monospace text-center mx-auto">
				<span class="text-capitalize"><span class="text-success">Builds</span> and <span class="text-info">designs</span></span><br><br>
				<span class="text-warning">Web</span> &amp; <span class="text-primary">Mobile</span> <br> <br>
				Apps
			</p>
		</div>
	</div>
	

	<div class="d-flex align-items-center my-auto bg-light row">
		<div class="text-center mx-auto my-5 container">
			<h2 class="font-weight-bold">Expectations will never satisfy you, and comparison will never let you enjoy your achievements. Therefore, stop expecting more and comparing with others. 
				</h2>
			<p class="mt-3 lead text-monospace text-right">- Sravan Nerella</p>
		</div>
	</div>

	<div class="row bg-img-code">
		<div class="col-sm-12 col-md-6 my-5 d-flex align-items-center my-5">
			<h2 class="mx-auto text-center font-weight-bold">I <span class="text-info">Code</span> In</h2>
		</div>
		<div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
			<div class="mx-auto mw-400px">
				<app-langs></app-langs>
			</div>
		</div>
	</div>

	<div class="mr-15 bg-light">
		<h2 class="text-center text-capitalize font-weight-bold pt-4">Personal Projects</h2>
		<br>
		<div class="d-flex justify-content-center">
			<ngb-carousel class="w-100">
				<ng-template ngbSlide *ngFor="let image of images">
					<div class="row">
						<div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
							<p class="lead text-center mx-auto">
								<span class="text-{{image.color}} mx-auto text-center font-30 font-weight-bold">{{image.name}}</span><br>
								<span class="text-monospace d-block mt-3">{{image.description}}</span>
							</p>
						</div>
						<div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
							<div class="box">
								<img [src]="image.img" alt="image.name">
							</div>
						</div>
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
	</div>

	<div class="row my-auto bg-img-email">
		<div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
			<h2 class="mx-auto text-center font-weight-bold">Akhil <span class="text-info">Sravan</span> Kumar</h2>
		</div>
		<div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
			<div class="mx-auto mw-400px">
				<h3 class="text-info text-center text-capitalize">Wanna Reach me ?</h3>
				<p class="text-center">Provide me your contact email, I will get back with you.</p>
				<br>
				<div>
					<input type="text" class="shadow-lg p-3 w-300px">
					<input type="submit" value="Email Me" class="shadow p-3 bg-primary text-white">
				</div>

			</div>
		</div>
	</div>

	<footer class="mr-15 bg-dark text-white">
		<h6 class="w-100 text-center pt-4 text-monospace text-info">Catch Me</h6>
		<h6 class="w-100 text-center">@</h6>
		<ul class="nav flex-sm-row justify-content-center pb-4">
			<li class="nav-item p-2 icon-blue">
				<i class="fab fa-facebook-f"></i>
			</li>
			<li class="nav-item p-2 icon-red">
				<i class="fab fa-pinterest-p"></i>
			</li>
			<li class="nav-item p-2 icon-violet">
				<i class="fab fa-github-alt"></i>
			</li>
			<li class="nav-item p-2 icon-info">
				<i class="fab fa-slack-hash"></i>
			</li>
			<li class="nav-item p-2 icon-blue">
				<i class="fab fa-linkedin-in"></i>
			</li>
		</ul>
	</footer>

</div>