<div class="container-fluid px-0">
	
	<div class="d-flex align-items-center h50vh bg-light">
		<div class="text-center mx-auto">
			<h1 class="text-capitalize font-weight-bold">Sravan Nerella</h1>
			<p class="lead text-monospace">Full Stack Developer</p>
		</div>
	</div>


	<div class="row bg-img-build">
		<div class="col h35vh d-flex align-items-center">
			<h2 class="text-center mx-auto text-monospace"><span class="text-violet">let</span> me = <span class="text-violet">this</span>.<span class="text-info">guy</span></h2>
		</div>
		<div class="col h35vh d-flex align-items-center">
			<p class="lead text-monospace text-center mx-auto">
				<span class="text-success">Who</span><br><br>
				Builds, Connects, and Designs<br>
				<span class="text-warning">Web</span> &amp; <span class="text-primary">Mobile</span> <br>
				Apps
			</p>
		</div>
	</div>




</div>