<div class="container-fluid px-0">
	
	<div class="d-flex align-items-center h50vh bg-light row">
		<div class="text-center mx-auto">
			<h1 class="text-capitalize font-weight-bold">Sravan Nerella</h1>
			<p class="lead text-monospace">Full Stack Developer</p>
		</div>
	</div>


	<div class="row h35vh bg-img-build">
		<div class="col d-flex align-items-center">
			<h2 class="text-center mx-auto text-monospace"><span class="text-violet">let</span> me = <span class="text-violet">this</span>.<span class="text-info">guy</span></h2>
		</div>
		<div class="col d-flex align-items-center">
			<p class="lead text-monospace text-center mx-auto">
				<span class="text-capitalize"><span class="text-success">Builds</span> and <span class="text-info">designs</span></span><br><br>
				<span class="text-warning">Web</span> &amp; <span class="text-primary">Mobile</span> <br> <br>
				Apps
			</p>
		</div>
	</div>
	

	<div class="d-flex align-items-center h20vh bg-light row">
		<div class="text-center mx-auto container">
			<h2 class="font-weight-bold">Expectations will never satisfy you, and comparison will never let you enjoy your achievements. So stop expecting more and comparing with others. 
				</h2>
			<p class="mt-3 lead text-monospace text-right">- Sravan Nerella</p>
		</div>
	</div>

	<div class="row h35vh bg-img-code">
		<div class="col d-flex align-items-center">
			<h2 class="mx-auto text-center font-weight-bold">I <span class="text-info">Code</span> In</h2>
		</div>
		<div class="col d-flex align-items-center">
			<div class="mx-auto mw-400px">
				<app-langs></app-langs>
			</div>
		</div>
	</div>


	<div class="mr-15 h40vh bg-light">
		<h2 class="text-center text-capitalize font-weight-bold pt-4">Personal Projects</h2>
		<br>
		<div class="w-100 d-flex justify-content-between">
			<div class="box">
				<img class="w-100" src="../assets/SyntaxPacket.png" alt="About">
				<br>
				<h5 class="text-center font-weight-bold">SyntaxPacket</h5>
			</div>
			<div class="box">
				<img class="w-100" src="../assets/flickmatics.png" alt="About">
				<br>
				<h5 class="text-center font-weight-bold text-danger">FlickMatics</h5>
			</div>
			<div class="box">
				<img class="w-100" src="../assets/hashcode.png" alt="About">
				<br>
				<h5 class="text-center font-weight-bold"><span class="text-primary">#</span>Code</h5>
			</div>
		</div>
	</div>

	<div class="row h35vh bg-img-email">
		<div class="col d-flex align-items-center">
			<h2 class="mx-auto text-center font-weight-bold">Akhil <span class="text-info">Sravan</span> Kumar</h2>
		</div>
		<div class="col d-flex align-items-center">
			<div class="mx-auto mw-400px">
				<h3 class="text-info text-center text-capitalize">Wanna Reach me</h3>
				<p class="text-center">Provide me your contact email, I will get back to you.</p>
				<br>
				<div>
					<input type="text" class="shadow-lg p-3 w-300px">
					<input type="submit" value="Email Me" class="shadow p-3 bg-primary text-white">
				</div>

			</div>
		</div>
	</div>

</div>