<div class="container-fluid overflow-hide px-0">
	
    <div class="row pt-4 px-4 bg-gradient row">
      <div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
        <h1 class="text-capitalize mx-auto font-weight-bold">Hi, 
          <span><br>I'm <span class="text-primary">Sravan Nerella</span></span> <br>
          <span class="lead text-monospace animate-monospace">Full Stack Web Developer.</span> <br>
          <span class="lead text-monospace text-muted">Front End Designer / Angular / Ionic</span> <br>
          <span><button routerLink="/writings" class="btn btn-outline-primary w-100 mw-400px margin-remove m-4">Read My Writings</button></span>
        </h1>
      </div>
      <div class="col-sm-12 col-md-6 d-flex mb-5 align-items-center">
        <lottie-animation-view [options]="lottieConfig" class="fill-svg" (animCreated)="handleAnimation($event)"></lottie-animation-view>
      </div>
    </div>
  
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Got It!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <lottie-animation-view [options]="sent" [width]="50" [height]="50" class="fill-svg" (animCreated)="handleAnimation($event)"></lottie-animation-view>
        <p class="lead text-center">Thank you! I will be contacting you soon.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  
    <ng-template #error let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Invalid Email!</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <lottie-animation-view [options]="errors" [width]="50" [height]="50" class="fill-svg" (animCreated)="handleAnimation($event)"></lottie-animation-view>
        <p class="lead text-center">Please re-check your email address</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
  
    <div class="row my-auto bg-img-build min-h-350">
      <div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
        <h2 class="text-center mx-auto font-weight-bold">About <span class="text-primary">Me</span></h2>
      </div>
      <div class="col-sm-12 col-md-6 d-flex p-4 my-5 align-items-center text-center">
        <p class="lead text-monospace lh-3 mx-auto mw-400px">
          I am an artist who sculpts stunning Web and Mobile applications with the latest design patterns and best user experience.
        </p>
      </div>
    </div>
    
  
    <div class="d-flex p-4 align-items-center my-auto bg-light row">
      <div class="text-center mx-auto my-5 container">
        <h2 class="font-weight-bold">Expectations will never satisfy you and comparison will never let you enjoy your achievements. Therefore, stop expecting more and comparing with others. 
          </h2>
        <p class="mt-3 lead text-monospace text-right">- Sravan Nerella</p>
      </div>
    </div>
  
    <div class="row bg-img-code">
      <div class="col-sm-12 col-md-6 my-5 d-flex align-items-center my-5">
        <h2 class="mx-auto text-center font-weight-bold">I <span class="text-primary">Code</span> In</h2>
      </div>
      <div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
        <div class="mx-auto mw-400px">
          <app-langs></app-langs>
        </div>
      </div>
    </div>
  
    <div class="mr-15 bg-light">
      <h2 class="text-center text-capitalize font-weight-bold pt-4">Personal Projects</h2>
      <br>
      <div class="d-flex justify-content-center">
        <ngb-carousel class="w-100">
          <ng-template ngbSlide *ngFor="let image of images; index as i">
            <div class="row">
              <div class="col-sm-12 col-md-6 mt-5 d-flex align-items-center">
                <p class="lead text-center mx-auto">
                  <span class="text-{{image.color}} mx-auto text-center font-30 font-weight-bold">{{image.name}}</span><br>
                  <span class="text-monospace d-block mt-3">{{image.description}}</span>
                  <span>
                    <lottie-animation-view [options]="projectConfigs[i]" [width]="150" [height]="150" class="fill-svg" (animCreated)="handleAnimation($event)"></lottie-animation-view>
                  </span>
                </p>
              </div>
              <div class="col-sm-12 col-md-6 my-5 d-flex align-items-center">
                <div class="box">
                  <img [src]="image.img" alt="{{image.name}}">
                </div>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  
    <div class="row my-auto bg-img-email min-h-350">
      <div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
        <h2 class="mx-auto text-center font-weight-bold">Akhil <span class="text-primary">Sravan</span> Kumar</h2>
      </div>
      <div class="col-sm-12 col-md-6 d-flex my-5 align-items-center">
        <div class="mx-auto mw-400px p-xs-4">
          <h3 class="text-primary text-center text-capitalize">Wanna Reach me ?</h3>
          <p class="text-center">Provide me your contact email, I will get back with you.</p>
          <br>
          <div class="emailBox">
            <input type="email" [(ngModel)]="email" class="shadow-lg p-3 w-300px">
            <input type="submit" *ngIf="validateEmail()" (click)="sendEmail(content)" value="Email Me" class="shadow p-3 bg-primary text-white">
            <input type="submit" *ngIf="!validateEmail()" (click)="sendEmail(error)" value="Email Me" class="shadow p-3 bg-primary text-white">
          </div>
        </div>
      </div>
    </div>
  
    <footer class="mr-15 bg-dark text-white">
      <h6 class="w-100 text-center pt-4 text-monospace text-info">Catch Me</h6>
      <h6 class="w-100 text-center">@</h6>
      <ul class="nav flex-sm-row justify-content-center pb-4">
        <li class="nav-item p-2 icon-blue">
          <i class="fab fa-facebook-f"></i>
        </li>
        <li class="nav-item p-2 icon-red">
          <i class="fab fa-pinterest-p"></i>
        </li>
        <li class="nav-item p-2 icon-violet">
          <i class="fab fa-github-alt"></i>
        </li>
        <li class="nav-item p-2 icon-info">
          <i class="fab fa-slack-hash"></i>
        </li>
        <li class="nav-item p-2 icon-blue">
          <i class="fab fa-linkedin-in"></i>
        </li>
      </ul>
    </footer>
  
  </div>