<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand d-flex align-items-center" routerLink="/blog">
		<lottie-animation-view [options]="lottieConfig" [width]="50" [height]="50" (animCreated)="handleAnimation($event)"></lottie-animation-view>
		Writings
	</a>
</nav>

<div class="container-fluid bg-primary">
	<div class="row">

		<div class="writing">
			<div class="writing-img">
				<img src="../../assets/event.jpeg" alt="Apple-Event">
			</div>
			<div class="writing-content">
				<div class="writing-title mx-auto">
					Gather Around for Apple
				</div>
				<div class="writing-time mx-auto">
					August 30, 2018
				</div>
			</div>
		</div>

		<div class="writing">
			<div class="writing-img">
				<img src="../../assets/event.jpeg" alt="Apple-Event">
			</div>
			<div class="writing-content">
				<div class="writing-title mx-auto">
					Gather Around for Apple
				</div>
				<div class="writing-time mx-auto">
					August 30, 2018
				</div>
			</div>
		</div>


		<div class="writing">
			<div class="writing-img">
				<img src="../../assets/event.jpeg" alt="Apple-Event">
			</div>
			<div class="writing-content">
				<div class="writing-title mx-auto">
					Gather Around for Apple
				</div>
				<div class="writing-time mx-auto">
					August 30, 2018
				</div>
			</div>
		</div>

	</div>

</div>
