<header-writing></header-writing>

<div class="container-fluid p-0">


	<div class="d-flex justify-content-center align-items-center min-h-350">
		<p class="mw-475 text-capitalize text-center font-35">An <span class="text-primary">event</span> has <span class="text-primary">audience</span>. <br>An <span class="text-warning">Idea</span> has a <span class="text-success">solution</span>.<br> A <span class="text-info">writing</span> gives <span class="text-violet">perspective</span>.</p>
	</div>


	<div class="mt-3 bg-light p-4">
		<p class="lead text-uppercase font-weight-bold font-17 text-muted">Perspectives</p>

		<div class="row">

			<div class="writing" *ngFor="let writing of writings | async" routerLink="/writings/{{writing.id}}">
				<div class="writing-img">
					<img [src]="writing?.coverImg" [alt]="writing?.title">
				</div>
				<div class="writing-content">
					<div class="writing-title mx-auto h-50px">
						{{writing?.title}}
					</div>
					<div class="writing-time mx-auto">
						{{writing?.createdOn | date:'fullDate'}}
					</div>
				</div>
            </div>

            <div *ngIf="(writings | async)?.length === 0">
                Seems like I've to add some posts
            </div>

		</div>
	</div>

	<div class="mt-3 p-4">
		<p class="lead text-uppercase font-weight-bold font-17 text-muted">Scribbling Ideas</p>

		<div class="row">

			<div class="writing" *ngFor="let writing of scribbles | async" routerLink="/writings/{{writing.id}}">
				<div class="writing-img">
					<img [src]="writing?.coverImg" [alt]="writing?.title">
				</div>
				<div class="writing-content">
					<div class="writing-title mx-auto h-50px">
						{{writing?.title}}
					</div>
					<div class="writing-time mx-auto">
						{{writing?.createdOn | date:'fullDate'}}
					</div>
				</div>
            </div>
            
            <div *ngIf="(scribbles | async)?.length === 0">
                <div class="not-found">
                    Seems like I've to add some posts
                </div>
            </div>

		</div>
	</div>

	<div class="mt-3 p-4 bg-light border-bottom-2">
		<p class="lead text-uppercase font-weight-bold font-17 text-muted">Guides</p>

		<div class="row">

			<div class="writing" *ngFor="let writing of guides | async" routerLink="/writings/{{writing.id}}">
				<div class="writing-img">
					<img [src]="writing?.coverImg" [alt]="writing?.title">
				</div>
				<div class="writing-content">
					<div class="writing-title mx-auto h-50px">
						{{writing?.title}}
					</div>
					<div class="writing-time mx-auto">
						{{writing?.createdOn | date:'fullDate'}}
					</div>
				</div>
            </div>
            
            <div *ngIf="(guides | async)?.length === 0">
                <div class="not-found">
                    Seems like I've to add some posts
                </div>
            </div>

		</div>
	</div>

	<div class="mt-5 h-150px">

	</div>

</div>
