<header-writing></header-writing>

<div class="container-fluid">

	<div class="mt-3">
		<p class="lead text-uppercase font-weight-bold font-17 text-muted">Recent Writing</p>

		<div class="row">

			<div class="writing" *ngFor="let writing of writings | async" routerLink="/writing/{{writing.id}}">
				<div class="writing-img">
					<img [src]="writing?.coverImg" [alt]="writing?.title">
				</div>
				<div class="writing-content">
					<div class="writing-title mx-auto h-50px">
						{{writing?.title}}
					</div>
					<div class="writing-time mx-auto">
						{{writing?.createdOn | date:'fullDate'}}
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
