/* You can add global styles to this file, and also import other style files */
@for $i from 1 through 10 {
    $value: $i * 100;

    .img-#{$i*25}{
        width: ($i * 25) + 0px;
        height: ($i * 25) + 0px;
        background: transparent;
        object-fit: contain;
    }

    .mw-#{$value}px{
        max-width: $value + 0px;
    }
    .mh-#{$value}px{
        max-height: $value + 0px;
    }
}

@for $size from 1 through 30 {
    $value: $size*5;

    .font-#{$size}{
        font-size: $size + 0px;
    }

    .h#{$value}vh{
        height: 0vh + $value;
    }
}

.mr-15{
    margin-right: -15px;
}

.box{
    
    img{
        height: 400px !important;
    }
}

@for $i from 1 through 10 {
    $val : $i * 50;
    .w-#{$val}px{
        width: $val + 0px !important;
    }
    .h-#{$val}px{
        height: $val + 0px !important;
    }
}

.icon-blue{
    &:hover{
        color: #007bff;
    }
}

.icon-red{
    &:hover{
        color: #dc3545;
    }
}

.icon-info{
    &:hover{
        color: #17a2b8;
    }
}

.icon-violet{
    &:hover{
        color: #6f42c1;
    }
}